:root{
    --brown-color: #aa8a6e;
    --blue-color: #1E2D39;
    --white-color: #D9D7CE;
    --red-color: #753337;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
body, h1{
    margin: 0;
}
body{
    height: 100%;
}
header{
    background-color: var(--blue-color);
    color: var(--white-color);
}

.img--responsive{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

p{
    font-size: 1rem + 0.25vw;
}

span{
    height: var(--line);
    width: 100%;
    background-color: var(--white-color);
    border-radius: calc(var(--line) / 2);
    transition:  transform 1s, opacity 0.5s, translate 0s 0s;
    transform-origin: center;
}

.burgir{
    --line: 8px;
    --widht: calc(40px * 1.41421356237);
    display:block;
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    gap: var(--line);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--white-color);
}

menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

menu li{
    list-style: none;
}

.checkbox{
    display: none;
}
.burgir{
    display: none;
    padding: 1em;
}

.logo{
    display: flex;
    padding: 1em;
    padding-left: 0.5em;
    width: fit-content;
    align-items: center;
}

.logo h1{
    display: flex;
    flex-grow: 0;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .burgir span {
        height: var(--line);
        width: 100%;
        background-color: var(--white-color);
        border-radius: calc(var(--line) / 2);
        transition: transform .3s, opacity 0.2s, width .3s;  
        transform-origin: left center;
    }
    .burgir{
        --line: 8px;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        gap: var(--line);
    }

    .burgir.menu--is-active span:nth-of-type(1) {
        transform: rotate(45deg);
        width: var(--widht);
        translate: 0 calc(var(--line) / -2);

    }

    .burgir.burgir.menu--is-active span:nth-of-type(2) {
        opacity: 0;
    }

    .burgir.menu--is-active span:nth-of-type(3) {
        transform: rotate(-45deg);
        width: var(--widht);
        translate: 0 calc(var(--line) / 2);
    }

    .navbar {
        position: relative;
    }
    menu {
        background-color: var(--blue-color);
        position: absolute;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        top: 100%;
        right: 0;
        overflow: hidden;
        transition: left 2.5s;
    }
    menu.menu--is-active {
        display: none;
    }
}

article{
    background-color: var(--brown-color);
    color: var(--white-color);
    padding: 1em;
}

h1{
    color: var(--red-color);
}

h2{
    color: var(--red-color);
    margin: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.main-background{
    padding: 0;
}

p, li, a{
    font-size: calc(0.5rem + 0.5vw);
}
.logo a{
    font-size: calc(1rem + 1.5vw);
}

h2 {
    font-size: calc(1rem + 1.5vw);
    
}
.f1{
    border-top: 1em var(--blue-color) solid;
}

ol{
    margin: 0.5em;
}

footer>a, footer>p{
    font-size: calc(0.5rem + 2vw);
}
